@page
@model ComputerFirm.Pages.FilReq.Filter.FilterComponentModel
@{
}

<table class="table table-hover">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Component[0].Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Component[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Component[0].DataofIssue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Component[0].WarrantyPeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Component[0].Described)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Component[0].Specificatrion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Component[0].CountryProduced)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Component[0].TypesofСomponent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Component)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataofIssue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WarrantyPeriod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Described)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Specificatrion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryProduced)
                </td>
                <td>
                    @Model.TypesofСomponent.NameTypesofComponents
            </tr>
        }
    </tbody>
</table>