@page
@model ComputerFirm.Pages.Orders.DeleteModel

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить</h1>

<h3>Вы уверены, что хотите удалить этот заказ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderData)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderData)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.DueData)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.DueData)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ShareofPrepayment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ShareofPrepayment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.PaymentMark)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.PaymentMark)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ExecutionMark)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ExecutionMark)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.GeneralWarranttyPeriod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.GeneralWarranttyPeriod)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.TotalCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.TotalCost)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Order.ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться в список</a>
    </form>
</div>
