@page
@model ComputerFirm.Pages.Components.IndexModel

@{
    ViewData["Title"] = "Комплектующие";
}

<h1>Комплектующие</h1>

<p>
    <a asp-page="Create">Добавить новое комплектующее</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Component[0].Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Component[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Component[0].DataofIssue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Component[0].WarrantyPeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Component[0].Described)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Component[0].Specificatrion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Component[0].CountryProduced)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Component[0].TypesofСomponent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Component) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataofIssue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarrantyPeriod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Described)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specificatrion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryProduced)
            </td>
            <td>
                @{
                    try
                    {
                        @Model.TypesofСomponent.First(r => r.ID == item.TypesofСomponent_ID).NameTypesofComponents
                    }
                    catch
                    {
                        <p>нет</p>
                    }

            }
        </td>
        <td>
            <a asp-page="./Edit" asp-route-id="@item.ID">Редактировать</a> |
            <a asp-page="./Details" asp-route-id="@item.ID">Информация</a> |
            <a asp-page="./Delete" asp-route-id="@item.ID">Удалить</a>
        </td>
        </tr>
}
    </tbody>
</table>
